<div class="container animated fadeIn">
  <p>8-puzzle game is a sliding puzzle that consists of a frame of numbered square tiles in random order with one tile
    missing.</p>
  <p>The object of the puzzle is to place the tiles in order by making sliding moves that use the empty
    space.</p>
  <p>This app was intentionally built to understand how the artificial intelligence algorithms solves the n-puzzle
    problem.</p>

  <p>Developed by Murhaf Sousli</p>

  <div class="footer-social-links">
    <a href="http://murhafsousli.com" title="Website" target="_blank"><i class="fa fa-globe"></i></a>
    <a href="https://github.com/MurhafSousli" title="Github" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/MurhafSousli" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/murhafsousli" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:murhafsousli@gmail.com" title="LinkedIn+" target="_blank"><i class="fa fa-envelope"></i></a>
  </div>

  <p>Check out the <a href="https://murhafsousli.github.io/memory/#/">Memory game</a></p>
</div>


