@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

$base-font: 'Quicksand', sans-serif;

$primary-color: #050D1A;
$bg-color: #456685;
$bg-dark-color: #15273F;
$sec-color: #FDF8F5;
$sec-dark-color: #B3C4D4;

$boxshadow: 0 0 3px rgba($primary-color, .8);

$header-height: 50px;
