<header class="animated slideInDown">
  <h1>8-Puzzle Game</h1>
  <nav>
    <a [routerLink]="['']"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a [routerLink]="['/about']"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
    <a (click)="shareDialog = !shareDialog"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<div *ngIf="shareDialog" class="model-container" >

  <div class="modal animated slideInDown" [class.open]="shareDialog">
    <share-buttons [shareTitle]="'Share'"></share-buttons>
  </div>
  <div class="overlay animated fadeIn" (click)="shareDialog=false"></div>
</div>
<div class="copyright"> © 2016 Murhaf Sousli. All rights reserved</div>
